<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4BIHgnAGj0Js8SotMJsJW6ZksJtRMYrU</string>
	<key>GCM_SENDER_ID</key>
	<string>980245469671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.Weather-Data</string>
	<key>PROJECT_ID</key>
	<string>challenge1-dev5</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge1-dev5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:980245469671:ios:59fa50815389ccaabe0542</string>
	<key>CFBundleIdentifier</key>
	<string>&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;We need your location to show weather information based on where you are.&lt;/string&gt;</string>
</dict>
</plist>
