@import url("https://use.typekit.net/vys0aik.css");

body {
    margin: 0px;
    background-color: #F1EBE1;
}

.nav .title {
    font-family: "decoy", serif;
    font-weight: 600;
    margin-right: 550px;
}

.nav {
    padding: 25px 0px;
    text-align: center;
    background-color: #C0CFB2;
}

.nav a {
    font-family: "roc-grotesk", sans-serif;
    color: #44624A;
    font-size: 25px;
    text-decoration: none;
    margin: 40px;
}

h1 {
    font-family: "decoy", serif;
    color: #44624A;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-family: "decoy", serif;
    color: #44624A;
    background-color: #C0CFB2;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 100px 125px;
}

h3 {
    font-family: "roc-grotesk", sans-serif;
    color: #44624A;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

h4 {
    font-family: "roc-grotesk", sans-serif;
    color: #44624A;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

p{
    font-family: "roc-grotesk", sans-serif;
    color: #44624A;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

progress {
    accent-color: #44624A;
    width: 355px;
    height: 50px;
    border-radius: 0;
    border-style: solid;
    border-color: #44624A;
    border-width: 1.5px;
    background-color: #F1EBE1;
}

progress::-webkit-progress-bar {
    background-color: #F1EBE1;

}
  
progress::-webkit-progress-value {
    background-color: #44624A;
}

.collections{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    row-gap: 80px;
    margin: 0 200px;
    flex-wrap: wrap;
}

.collection{
    align-self: center;
}

#smiskis{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;
    margin: 0 150px;
    flex-wrap: wrap;
}

.smiski{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
}

.smiski p{
    line-height: 25px;
    width: 350px;

}

.smiski h4{
    margin-bottom: 5px;

}

img {
    height: 150px;
    display: block;
    margin: 0 auto;
}