body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1e1e1e;
	color: #eaeaea;
	margin: 0 20px;
}

.encounter-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(50vh, 1fr)
	); /* Max 3 or 4 columns */
	gap: 20px;
	margin-top: 30px;
}

/* Styling for the search bar and dropdown menu */
.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: left;
	margin-bottom: 30px;
}

.search-bar,
.class-filter {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.search-bar {
	width: 30vw;
}

.class-filter {
	min-width: 200px;
}

.Encounter {
	margin: 0 0 10px;
}

.page-title {
	margin: 50px 0;
}

.encounter-group {
	padding: 15px;
	background-color: #292929;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.encounter-table {
	width: 100%;
	min-width: 45%;
	border-collapse: collapse;
}

.encounter-table th,
.encounter-table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #444444;
}

.encounter-table th {
	background-color: #202020;
	color: #ffffff;
}

.encounter-row {
	position: relative;
	height: 40px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

.encounter-row-content {
	position: relative;
	z-index: 2;
	padding: 5px 10px;
}

.dps-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 1;
	border-radius: 0 4px 4px 0;
}
